In [2]:
import pandas as pd

In [64]:
greenTripData = pd.read_csv('./homework/nyc_taxi_raw_files/green_tripdata_2019-09.csv', skiprows=range(1,15000), nrows = 1000)

In [46]:
zoneLookup = pd.read_csv('./homework/nyc_taxi_raw_files/taxi+_zone_lookup.csv', nrows=100)

In [66]:
greenTripData

,VendorID,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date,lpep_dropoff_date
0,2,N,1,152,166,6,0.88,5.5,0.00,0.5,0.00,0.00,NaN,0.3,6.30,2,1,0.00,2019-09-02,2019-09-02
1,2,N,1,41,168,1,2.14,9.5,0.00,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.00,2019-09-02,2019-09-02
2,2,N,1,129,126,1,5.22,22.5,0.00,0.5,0.00,6.12,NaN,0.3,29.42,2,1,0.00,2019-09-02,2019-09-02
3,2,N,1,116,75,2,4.40,19.0,0.00,0.5,0.00,0.00,NaN,0.3,19.80,2,1,0.00,2019-09-02,2019-09-02
4,2,N,1,52,257,1,3.21,11.0,0.00,0.5,2.95,0.00,NaN,0.3,14.75,1,1,0.00,2019-09-02,2019-09-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,N,1,74,263,1,2.21,8.5,0.00,0.5,1.50,0.00,NaN,0.3,13.55,1,1,2.75,2019-09-02,2019-09-02
996,2,N,1,49,49,1,0.89,5.5,0.00,0.5,0.00,0.00,NaN,0.3,6.30,1,1,0.00,2019-09-02,2019-09-02
997,2,N,1,97,25,1,0.95,6.0,0.00,0.5,0.00,0.00,NaN,0.3,6.80,1,1,0.00,2019-09-02,2019-09-02
998,2,N,1,95,7,1,8.90,28.0,0.00,0.5,0.00,0.00,NaN,0.3,28.80,2,1,0.00,2019-09-02,2019-09-02
999,1,N,1,74,263,1,2.20,10.0,2.75,0.5,2.70,0.00,NaN,0.3,16.25,1,1,2.75,2019-09-02,2019-09-02

In [13]:
## How many taxi trips were totally made on September 18th 2019?

In [65]:
greenTripData['lpep_pickup_timestamp'] = pd.to_datetime(greenTripData['lpep_pickup_datetime'])
greenTripData['lpep_dropoff_lpep_pickup_timestamp'] = pd.to_datetime(greenTripData['lpep_dropoff_datetime'])

# Convert datetime to date
greenTripData['lpep_pickup_date'] = greenTripData['lpep_pickup_timestamp'].dt.date
greenTripData['lpep_dropoff_date'] = greenTripData['lpep_dropoff_lpep_pickup_timestamp'].dt.date

greenTripData = greenTripData.drop(['lpep_pickup_timestamp','lpep_pickup_datetime','lpep_dropoff_datetime','lpep_dropoff_lpep_pickup_timestamp'], axis=1)

In [67]:
from time import time

chunksize = 10 ** 6
with pd.read_csv('./homework/nyc_taxi_raw_files/green_tripdata_2019-09.csv', chunksize=chunksize,low_memory=False) as reader:
    for chunk in reader:
        start = time()
        chunk['lpep_pickup_timestamp'] = pd.to_datetime(chunk['lpep_pickup_datetime'],errors='coerce')
        chunk['lpep_dropoff_lpep_pickup_timestamp'] = pd.to_datetime(chunk['lpep_dropoff_datetime'],errors='coerce')
        chunk['lpep_pickup_date'] = chunk['lpep_pickup_timestamp'].dt.date
        chunk['lpep_dropoff_date'] = chunk['lpep_dropoff_lpep_pickup_timestamp'].dt.date
        chunk = chunk.drop(['lpep_pickup_timestamp','lpep_pickup_datetime','lpep_dropoff_datetime','lpep_dropoff_lpep_pickup_timestamp'], axis=1)
        chunk.to_sql(name='green_trip_data',con=engine,if_exists='append')
        end = time()
        print('Inserted another batch ... %.3f second' % (end - start))

Inserted another batch ... 44.224 second

In [39]:
from sqlalchemy import create_engine 
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
print(pd.io.sql.get_schema(greenTripData, name='green_trip_data',con=engine))

CREATE TABLE green_trip_data (
	"VendorID" BIGINT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53),
	lpep_pickup_date DATE,
	lpep_dropoff_date DATE
)

In [40]:
# Create table
df.head(n=0).to_sql(name='green_trip_data',con=engine,if_exists='replace')

0