In [1]:
import pandas as pd

In [28]:
df = pd.read_csv("fhv_tripdata_2019-10.csv" )

In [29]:
df.head(10)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264.0,264.0,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264.0,264.0,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264.0,264.0,NaN,B00014
3,B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264.0,264.0,NaN,B00014
4,B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264.0,264.0,NaN,B00014
5,B00021,2019-10-01 00:00:48,2019-10-01 00:07:12,129.0,129.0,NaN,B00021
6,B00021,2019-10-01 00:47:23,2019-10-01 00:53:25,57.0,57.0,NaN,B00021
7,B00021,2019-10-01 00:10:06,2019-10-01 00:19:50,173.0,173.0,NaN,B00021
8,B00021,2019-10-01 00:51:37,2019-10-01 01:06:14,226.0,226.0,NaN,B00021
9,B00021,2019-10-01 00:28:23,2019-10-01 00:34:33,56.0,56.0,NaN,B00021

In [19]:
df.dtypes

dispatching_base_num              object
pickup_datetime           datetime64[ns]
dropOff_datetime          datetime64[ns]
PUlocationID                     float64
DOlocationID                     float64
SR_Flag                          float64
Affiliated_base_number            object
pickup_date                       object
dropoff_date                      object
dtype: object

In [30]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['dropOff_datetime'] = pd.to_datetime(df['dropOff_datetime'])
# Add a new column by converting timestamp to date
df['pickup_date'] = df['pickup_datetime'].dt.date
df['dropoff_date'] = df['dropOff_datetime'].dt.date

In [35]:
start_range = pd.to_datetime('2019-10-15 00:00:00')
end_range = pd.to_datetime('2019-10-15 23:59:59')
trips = df[(df.pickup_datetime >= start_range) & (df.dropOff_datetime <= end_range )]

In [37]:
trips.count()

dispatching_base_num      61851
pickup_datetime           61851
dropOff_datetime          61851
PUlocationID              61594
DOlocationID              61606
SR_Flag                       0
Affiliated_base_number    61149
pickup_date               61851
dropoff_date              61851
dtype: int64